
						<form class="form" role="form" autocomplete="off" th:object="${productForm}" method="post" th:action="@{/productForm}">
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Nombre del Producto</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" th:field="${productForm.nombreP}">
									<div class="alert-danger" th:if="${#fields.hasErrors('nombreP')}" th:errors="*{nombreP}">Error en el nombre</div> 
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Tipo</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" th:field="${productForm.tipo}">
								    <div class="alert-danger" th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}">Error en el tipo del producto</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Descripcion</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" th:field="${productForm.descripcion}">
									 <div class="alert-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Error en la descripcion</div> 
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Codigo de Barras</label>
								<div class="col-lg-9">
									<input class="form-control" type="number" th:field="${productForm.codBarras}">
									<div class="alert-danger" th:if="${#fields.hasErrors('codBarras')}" th:errors="*{codBarras}">Error en el codigo de barras</div> 
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Codigo QR</label>
								<div class="col-lg-9">
									<input class="form-control" type="number" th:field="${productForm.codQR}">
									<div class="alert-danger" th:if="${#fields.hasErrors('codQR')}" th:errors="*{codQR}">Error en el QR</div> 
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Cantidad</label>
								<div class="col-lg-9">
									<input class="form-control" type="number" th:field="${productForm.cantidad}">
									<div class="alert-danger" th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}">Error en la cantidad</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Precio</label>
								<div class="col-lg-9">
									<input class="form-control" type="number" th:field="${productForm.precio}">
									<div class="alert-danger" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}">Error en el precio</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Imagen</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" th:field="${productForm.imagen}">
									<div class="alert-danger" th:if="${#fields.hasErrors('imagen')}" th:errors="*{imagen}">Error en la imagen</div>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-lg-12 text-center">
									<input type="reset" class="btn btn-secondary" value="Cancel">
									<input type="submit" class="btn btn-primary"
										value="Save Changes">
								</div>
							</div>
							<div class="alert alert-danger text-center" th:if="${formError}" th:text="${formError}">Mensaje de error</div>
						</form>