<div class="table-responsive">
							<table id="userList" class="table table-bordered table-hover table-striped">
								<thead class="thead-light">
								<tr>
									<th scope="col">#</th>
									<th scope="col">Nombre</th>
									<th scope="col">Apellido</th>
									<th scope="col">Dni</th>
									<th scope="col">E-mail</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
								<span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
								<tr th:each="user: ${userList}">
									<td th:text="${user.uid}"></td>
									<td th:text="${user.nombre}"></td>
									<td th:text="${user.apellido1}"></td>
									<td th:text="${user.dni}"></td>
									<td th:text="${user.email}"></td>
									<td>
										<span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
										<a href="#" th:href="@{'/editUser/'+ ${user.uid}}"><i class="fas fa-edit"></i></a>
										| <a href="#" th:onclick="'javascript:confirmarDelete(\''+ ${user.uid} +'\');'"><i class="fas fa-user-times"></i></a>
										</span>
									</td>
								</tr>
								</span>
								<tr th:each="user: ${userList}">
								<span th:if="${#authorization.expression('hasRole(''ROLE_USER'')')} and ${#httpServletRequest.remoteUser==user.nombre}">
									<td th:text="${user.uid}"></td>
									<td th:text="${user.nombre}"></td>
									<td th:text="${user.apellido1}"></td>
									<td th:text="${user.dni}"></td>
									<td th:text="${user.email}"></td>
									<td>
										<a href="#" th:href="@{'/editUser/'+ ${user.uid}}"><i class="fas fa-edit"></i></a>
									</td>
								</tr>
								</span>
								</tbody>
							</table>
							<div class="alert alert-danger text-center" th:if="${deleteError}" th:text="${deleteError}">Mensaje de error</div>
						</div>
						
						
						<script type="text/javascript">
							function confirmarDelete(id){
								$('#deleteModal').modal('show');
								$("#userIdHiddenInput").val(id);
							}

							function deleteUser(){
								var id = $("#userIdHiddenInput").val();
    							window.location = "deleteUser/"+id;
							}
						</script>